@import '../../theme.scss';

.navigacija {
    height: 100%;
    background-color: $siva;
    color: white;
    z-index: 9999;
    border-radius: 10px;
    height: auto;
    padding: 50px 0 70px 0;
    width: 70vw;

    @media screen and ($tablet) {
        width: 50vw;
    }

    @media screen and ($racunalo) {
        border-right: 1px solid white;
        border-radius: 0;
        width: 200px;
        height: 100%;
        position: fixed;

    }
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.navigacija-poveznica {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;


    &:hover {
        cursor: pointer;
        background-color: $tamnoSiva;
    }

    @media screen and ($tablet) {
        font-size: 25px;
    }

    @media screen and ($racunalo) {
        font-size: 18px;
    }
        
    
}

.navigacija-naslov {
    font-size: 30px;
    
    @media screen and ($tablet) {
        font-size: 40px;
    }

    @media screen and ($racunalo) {
        font-size: 25px;
    }
    
}
