@import '../../theme.scss';

.navigacija {
    height: 100%;
    background-color: $siva;
    width: 200px;
    border-right: 1px solid white;
    position: fixed;
    color: white;
    z-index: 9999;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &:first-child {
        margin-top: 50px;
    }
}

.navigacija-poveznica {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        background-color: $tamnoSiva;
    }
}

.navigacija-naslov {
    font-size: 25px;
}
