@import '../../theme.scss';

.odjeljak {
    margin-top:30px;
}

.gumb-dodaj{
    width: 150px;
    margin-top:30px;
}

.zadaci {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    gap: 30px;
    width: 80vw;

    @media screen and ($tablet) {
        flex-direction: row;
    }

    @media screen and ($racunalo) {
        width: 60vw;
        margin: 0;
    }
}