@import '../../theme.scss';

.odjeljak {
    margin-top:30px;
}

.gumb-dodaj{
    width: 150px;
    margin-top:30px;
}

.zadaci {
    display: grid;
    grid-column-gap: 30px;
    margin: 0 30px;


    @media screen and ($tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and ($racunalo) {
        margin: 0;
    }
}