@import '../../theme.scss';

.stavka{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  max-width: 500px;
  border-radius: 6px;
  padding: 5px;
  height: 30px;

  &:hover{
    background-color: $siva;
    .ikona-brisanje {
      visibility: visible;
    }

  }

  input[type='checkbox'] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: $crvena;
      border-color: $crvena;

      &:hover{
          background-color: $crvenaTamna;
          border-color: $crvenaTamna;
      }

      &::before {
        content: '\2713'; // Kvačica 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: white;
      }
    }
  }

  &-detalji {
    flex: 1; //da zauzme ostatak dostupnog prostora, u suprotnom se potvrdni okvir smanji u širini
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }

  &-naslov {
      font-weight: bold;
      font-size: 16px;
      margin-right: 10px;
    }

  &-opis {
    font-size: 14px;
    color: #777;        
  }
}
  

.ikona-brisanje {
  width: 28px;
  visibility: hidden;

  &:hover {
    cursor: pointer;
  }
}

.promjena-pokazivaca {
  &:hover {
    cursor: pointer;
  }
}