@import '../../theme.scss';

.projekt-omotac-gumba {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 310px;
    margin-top: 5px;
      
    @media screen and ($racunalo) {
        margin-top: 30px;
        
    }
        
}

.omotac-zadataka {
    display: flex;
    width: 70vw;
    flex-direction: column;

    @media screen and ($racunalo) {
        width: 80vw;
        min-height: 70vh;
        flex-direction: row;
        gap: 10px;
    }
}