@import "../../theme.scss";

.projektni-zadatak {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  max-width: 500px;
  border-radius: 6px;
  padding: 5px;
  min-height: 30px;
  flex-direction: column;
  width: 100%;

  @media screen and ($racunalo) {
    flex-direction: row;
    margin-bottom: 10px;
  }

  &:hover {
    background-color: $siva;
  }

  &-lijevo {
    rotate: 270deg;

    @media screen and ($racunalo) {
      rotate: 180deg;
    }

    &:hover {
      cursor: pointer;
    }
  }

    &-desno {
      rotate: 90deg;

    @media screen and ($racunalo) {
      rotate: 0deg;
    }
        &:hover {
        cursor: pointer;
        }
    }

  &-detalji {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    text-align: center;
  }

  &-naslov {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
  }

  &-opis {
    font-size: 14px;
    color: #777;
  }
}

.skrivena-strelica {
    visibility: hidden;
}
