@import '../../theme.scss';

.prijava {
    background-color: $siva;
    height: 50vh;
    width: 25vw;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 17px;
    
    


    &-forma {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 50%;

        

    }

    &-polje {
        max-height: 40px;
    }

    &-poveznica {
        &:hover {
            cursor: pointer;
        }
        
    }
}