@import '../../theme.scss';

.prijava {
    background-color: $siva;
    height: 40vh;
    width: 70vw;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 17px;

    @media screen and ($tablet) {
        height: 40vh;
        width: 50vw;
    }

    @media screen and ($racunalo) {
        height: 50vh;
        width: 25vw;
    }
        
    
    &-forma {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 50%;
        @media screen and ($racunaloVeliko) {
            width: 70%;
        }
    }

    &-polje {
        max-height: 40px;
    }

    &-poveznica {
        &:hover {
            cursor: pointer;
        }
        
    }
}