@import 'theme.scss';

* {
    font-family: $font;
    margin: 0;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigacija {
  margin-top: 61px;
}

.stranica {
  background-color: $tamnoSiva;
  flex: 1;
  overflow-y: auto;
  padding-left: 231px;
  color: white;
  padding-top: 91px;
  height: 100%;
  padding-bottom: 30px;
  overflow: hidden;
}