//Fontovi
$font: arial, sans-serif;

//Boje
$crvena: #BF3939;
$crvenaTamna: #AA1D1D;
$siva: #303535;
$tamnoSiva: #1C1C1C;
$svijetloSiva: #727272;

//Responsivnost
$tablet: 'min-width: 768px';
$racunalo: 'min-width: 1024px';
$racunaloVeliko: 'min-width: 1440px';