//Fontovi
$font: arial, sans-serif;

//Boje
$crvena: #BF3939;
$crvenaTamna: #AA1D1D;
$siva: #303535;
$tamnoSiva: #1C1C1C;

//Responsivnost
$mobitel: 'min-width: 580px';
$tablet: 'min-width: 768px';
$racunalo: 'min-width: 1024px';