.biljeske-gumbi {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 310px;
    margin-top: 30px;
}

.biljeske-kategorije {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}