@import '../../theme.scss';

.zaglavlje {
    background-color: $siva;
    height: 60px;
    display: flex;
    justify-content: space-between;  
    align-items: center; //vertikalno centriranje
    padding: 0 20px;
    border-bottom: 1px solid white;
}

.omotac-gumba {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.gumb-zaglavlja{
    margin: 0 10px;
    display: flex;
    align-items: center; 
    width: 150px;
}

.logotip{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}