@import '../../theme.scss';

.zaglavlje {
    background-color: $siva;
    height: 60px;
    display: flex;
    justify-content: space-between;  
    align-items: center; //vertikalno centriranje
    border-bottom: 1px solid white;
    width: 100%;
    position: fixed;
    z-index: 9999;

    &:hover {
        cursor: pointer;
    }

}

.omotac-gumba {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-right: 20px;
}

.gumb-zaglavlja{
    margin: 0 10px;
    display: flex;
    align-items: center; 
    width: 150px;
}

.logotip{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
}