@import '../../theme.scss';

.biljeska-gumbi {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 80vw;
    row-gap: 20px;
    width: 450px;
    margin-top:30px;
    justify-content: center;

    @media screen and ($tablet) {
        grid-template-columns: 150px 1fr;
    }
}

.biljeska-sadrzaj {
    margin-top: 20px;
    
    background-color: $siva;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    width: 90vw;

    @media screen and ($racunalo) {
        width: auto;
        margin-right: 30px;
    }

}

.biljeska-kategorije {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.ikona-favorit {
    &:hover {
        cursor: pointer;
    }
}